<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">Add Contact</h1>
            <div class="container-fluid mt-1">
                <div class="row">
                    <div class="col-md-10 offset-md-1">

                        <form action="" th:object="${contact}" enctype="multipart/form-data"
                              th:action="@{/user/process-contact}" method="post" class="mt-2">
                            <!-- First Name-->
                            <div class="input-group">
                                <div class="input-group-prepend ">
                                    <div class="input-group-text">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                </div>
                                <input type="text" id="firstName" name="name"
                                       placeholder="Enter Name Here" class="form-control">
                            </div>
                            <!-- Second Name-->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-user-alt"></i>
                                    </div>
                                </div>
                                <input type="text" id="secondName" name="secondName"
                                       placeholder="Enter Second Name Here"
                                       class="form-control">
                            </div>
                            <!--Phone-->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                </div>
                                <input type="number" id="phone" name="phone"
                                       placeholder="Enter Phone Number Here"
                                       class="form-control">
                            </div>
                            <!-- Email-->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-user-alt"></i>
                                    </div>
                                </div>
                                <input type="email" id="email" name="email"
                                       placeholder="Enter Email Here"
                                       class="form-control">
                            </div>
                            <!-- Work Field-->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-briefcase"></i>
                                    </div>
                                </div>
                                <input type="text" id="work" name="work"
                                       placeholder="Enter Work Here"
                                       class="form-control">
                            </div>
                            <!-- Contact Description-->
                            <div class="form-group mt-3">
                                <textarea placeholder="Enter contact Description" name="description" id="description"
                                          class="form-control" cols="10" rows="5"></textarea>
                            </div>
                            <!--Image-->
                            <div class="custom-file mt-3">
                                <input type="file" name="profileImage">
                            </div>

                            <div class="container text-center">
                                <button type="submit" class="btn btn-outline-primary">
                                    Save Contact
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
