<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="mb-3">Change Password</h3>
                        <form action="#" th:action="@{/user/change-password}" method="post">
<!--Old Password-->
                            <div class="form-group mb-2">
                                <input name="oldPassword" type="password" class="form-control" placeholder="Enter Old Password">
                            </div>
<!--New Password-->
                            <div class="form-group mb-2">
                                <input name="newPassword" type="password" class="form-control" placeholder="Enter New Password">
                            </div>
                            <div class="container text-center mb-2">
                                <button type="reset" class="btn btn-warning">Reset</button>
                                <button type="submit" class="btn btn-success">Change</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(() => {
            $(".item").removeClass("active");
            $("#settings-link").addClass("active");
        });
    </script>
</section>
</body>
</html>