<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
<div class="text-center">
    <h1>This is Home Page</h1>
    <p>start collecting your contact in very smarter way. We provide very smarter and
    efficient way of handling contact</p>
    <a class="btn bg-primary btn-lg text-white" th:href="@{/signup}">Get Start</a>
</div>
</section>
</body>
</html>